@page
@model Eshop.RazorPage.Pages.Auth.LoginModel
@{
    Layout = "Shared/Layouts/_AuthLayout";
    ViewData["Title"] = "  ورود به سایت";
}

<div class="auth-form shadow-around">
    <div class="site-logo">
        <a href="/">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        @ViewData["Title"]
    </div>
    <form method="post">
        @Html.HiddenFor(x=>x.RedirectTo)

        @Html.EditorFor(x => x.PhoneNumber)

        @Html.EditorFor(x => x.Password)


        <div class="form-element-row text-left">
            <button class="btn-element btn-info-element">
                <i class="fad fa-sign-in-alt"></i>
                ورود به سایت
            </button>
        </div>

    </form>
    <div class="auth-form-footer">
        <span>کاربر جدید هستید؟</span>
        <a asp-page="Register" class="link--with-border-bottom">ثبت نام در سایت</a>
    </div>
</div>
